<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login-Page</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.24.0/axios.min.js"></script>
    <script src="https://unpkg.com/vue@next"></script>
    <link rel="stylesheet" href="./style/login.css">
</head>


<body>
    <div id="app">
        <form>
            <div class='insideBox'>
                <h1>Henry's Handmade</h1>
                <div class="input">
                    <h2>帳號</h2>
                    <input class='inputBox' type="email" v-model='username' autofocus>
                </div>
                <div class="input">
                    <h2>密碼</h2>
                    <input class='inputBox' type="password" v-model='password'> <br>
                </div>
                <div>
                    <button type='button' class='button' @click='login'>登入</button>
                </div>
            </div>
        </form>
    </div>
    <script src="./javascript/login.js"></script>
</body>

</html>